<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 [style.color]="h1color">Under Construction!</h1>
      <p>Meanwhile.. use ssh :)</p>
      <div class="copy-area" matRipple (click)="copyToClipboard()">
        <code>{{textToCopy}}</code>
        <mat-icon>file_copy</mat-icon>
      </div>
    </div>
    <a href="https://arshwaraich.com" target="_blank" rel="noopener noreferrer">
      <div matRipple class="card-footer">
        <p>Checkout my Portfolio</p>
        <mat-icon>open_in_new</mat-icon>
      </div>
    </a>
  </div>
</div>